.Topbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: yellow;
    justify-content: space-between;
    align-items: center;

}
.btn-topbar{
    margin-left: 82%;
}
.btn-signout{
    margin-right: 10px;
}
.pic{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.barname{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 10px;
}
.topbaradd{
    margin-left: 89%;
}